<nz-table #fixedTable [nzData]="dataTypeAndSubType" 
      [nzBordered]="true"
      [nzVirtualItemSize]="35"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '1200px', y: '720px' }">
    <thead>
      <tr>
        <th nzLeft nzWidth="50%">ParentType</th>
        <th nzLeft nzWidth="30%">SubType</th>
        <th nzRight nzWidth="20%">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTypeAndSubType">
        <td nzLeft>{{data.nameParentType}}</td>
        <td nzLeft>{{data.nameSubType}}</td>
        <td nzRight>
          <app-editSubType></app-editSubType>
          <app-removeSubType></app-removeSubType>
        </td>
      </tr>
    </tbody>
  </nz-table>