<nz-table #fixedTable [nzData]="dataTypeAndSubType" 
      [nzBordered]="true"
      [nzVirtualItemSize]="30"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '1200px', y: '940px' }">
    <thead>
      <tr>
        <th nzLeft>ParentType</th>
        <th nzLeft>SubType</th>
        <th nzRight>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataTypeAndSubType">
        <td nzLeft>{{data.nameParentType}}</td>
        <td nzLeft>{{data.nameSubType}}</td>
        <td nzRight>
          <a>action</a>
        </td>
      </tr>
    </tbody>
  </nz-table>