<nz-table #fixedTable [nzData]="dataType"  
cdkDropList (cdkDropListDropped)="onDrop($event)"
[nzBordered]="true"
[nzVirtualItemSize]="35"
[nzFrontPagination]="false"
[nzShowPagination]="false"
[nzScroll]="{ x: '1200px', y: '650px' }">
    <thead>
      <tr>
        <th nzLeft> Type</th>
        <th nzRight nzWidth="300px">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of dataType" cdkDrag>
        <td nzLeft> {{ data.name }}</td>
        <td nzRight>
          <app-editType [data]="data"></app-editType>
          <app-removeType [typeId]="data.id"></app-removeType>
        </td>
      </tr>
    </tbody>
  </nz-table>
 
 