
<nz-table #fixedTable [nzData]="dataOfProducts" 
      [nzBordered]="true"
      [nzVirtualItemSize]="30"
      [nzFrontPagination]="false"
      [nzShowPagination]="false"
      [nzScroll]="{ x: '1200px', y: '740px' }">
      <thead>
        <tr>
          <th >ProductName</th>
          <th >Type</th>
          <th >SubType</th>
          <th >Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of dataOfProducts">
          <td nzLeft>{{data.name}}</td>
          <td nzLeft >{{data.type}}</td>
          <td nzLeft >{{data.subType}}</td>


          <td nzRight>
            <a>action</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  