<button nz-button nzType="primary" class="editButton" (click)="showModal()">
  <span nz-icon nzType="edit" nzTheme="outline"></span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit Product"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzWidth]="'50%'">

  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="50">

        <nz-form-item>
          <nz-form-label>EditType</nz-form-label>
          <nz-form-control>
            <app-choice-typeForEditProduct (parentTypeSelected)="parentTypeSelected($event)"
                                           [selectedOption]="startType?.id">
            </app-choice-typeForEditProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="parentType">
          <nz-form-label>ParentSubType</nz-form-label>
          <nz-form-control>
            <app-choice-subTypeForEditProduct
              [parentType]="parentType"
              (parentSubTypeSelected)="parentSubTypeSelected($event)"
              [selectedOption]="startSubType?.id">
            </app-choice-subTypeForEditProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>NameProduct</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="productName" name="productName"/>
          </nz-form-control>
        </nz-form-item>

        <nz-collapse nzAccordion>

          <nz-collapse-panel [nzHeader]="'FullDescriptionProduct'" [nzActive]="false">
            <angular-editor
              [(ngModel)]="contentForFullDescription"
              [config]="config" name="contentForFullDescription"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ShortSpecificationProduct'" [nzActive]="false">
            <nz-table #fixedTable [nzData]="shortSpecificationsEdit"
                      [nzBordered]="true"
                      [nzVirtualItemSize]="52"
                      [nzFrontPagination]="false"
                      [nzShowPagination]="false"
                      [nzScroll]="{ x: '700x', y: '150px' }">

              <thead>
              <tr>
                <th nzLeft nzWidth="50%">Name</th>
                <th nzWidth="30%">Value</th>
                <th nzWidth="20%">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let data of shortSpecificationsEdit; index as i">
                <td> {{data.name}}</td>
                <td> {{data.value}} </td>
                <td>
                  <button nz-button nzType="primary" class="removeButton" (click)="deleteItem(i)">
                    <span nz-icon nzType="delete" nzTheme="outline"> </span>
                  </button>
                </td>
              </tr>
              </tbody>
            </nz-table>

            <div style="display: inline-block;" width="24">
              <label>Name: </label>
              <input [(ngModel)]="nameShortSpecificationEdit" name="nameShortSpecificationEdit"/>
              <label> Value: </label>
              <input [(ngModel)]="valueOfShortSpecificationEdit" name="valueOfShortSpecificationEdit"/>
            </div>
            <button nz-button nzType="primary" (click)="addItem()" class="addButton">+</button>

          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ContentProduct'" [nzActive]="false">
            <angular-editor [(ngModel)]="contentForContentProduct"
                            [config]="config" name="contentForContentProduct"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'AdditionalDescriptionProduct'" [nzActive]="false">
            <angular-editor [(ngModel)]="contentForAdditionalDescription"
                            [config]="config" name="contentForAdditionalDescription"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ImgProduct'" [nzActive]="false">
            <img src="{{hostName}}api/image/get/{{imgId}}" alt="">

            <div>
              <nz-form-control>

                <nz-upload nzAction="{{hostName}}api/image/upload"
                           [nzListType]="'picture'"
                           [nzLimit]="1"
                           [nzFileType]="'image/png,image/jpeg'"
                           [nzAccept]="'image/png,image/jpeg'"
                           (nzChange)="handleChange($event)"
                           [nzRemove]="this.onRemoveFile">
                  <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    Click to Change
                  </button>
                </nz-upload>

              </nz-form-control>
            </div>
          </nz-collapse-panel>

        </nz-collapse>

      </div>
    </div>

  </ng-container>
</nz-modal>
