<button nz-button nzType="primary" class="editButton" (click)="showModal()">
  <span nz-icon nzType="edit" nzTheme="outline"></span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit Product"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzWidth]="'50%'">

  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="50">

        <nz-form-item>
          <nz-form-label>EditType</nz-form-label>
          <nz-form-control>
            <app-choice-typeForEditProduct  (parentTypeSelected)="parentTypeSelected($event)"
            [selectedOption]="startType?.id">
            </app-choice-typeForEditProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="parentType">
          <nz-form-label>ParentSubType</nz-form-label>
          <nz-form-control>
            <app-choice-subTypeForEditProduct
              [parentType]="parentType"
              (parentSubTypeSelected)="parentSubTypeSelected($event)">
            </app-choice-subTypeForEditProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>NameProduct</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="productName" name="productName"/>
          </nz-form-control>
        </nz-form-item>

        <nz-collapse nzAccordion>

          <nz-collapse-panel [nzHeader]="'FullDescriptionProduct'" [nzActive]="false">
            <angular-editor
              [(ngModel)]="contentForFullDescription"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ShortSpecificationProduct'" [nzActive]="false">
            <angular-editor
              [(ngModel)]="contentForShortSpecificationProduct"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ContentProduct'" [nzActive]="false">
            <angular-editor [(ngModel)]="contentForContentProduct"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'AdditionalDescriptionProduct'" [nzActive]="false">
            <angular-editor [(ngModel)]="contentForAdditionalDescription"></angular-editor>
          </nz-collapse-panel>

          <nz-collapse-panel [nzHeader]="'ImgProduct'" [nzActive]="false">
            <angular-editor [(ngModel)]="contentForImage"></angular-editor>
          </nz-collapse-panel>

        </nz-collapse>

      </div>
    </div>

  </ng-container>
</nz-modal>
