<button nz-button nzType="primary" class="editButton" (click)="showModal()">
  <span nz-icon nzType="edit" nzTheme="outline"></span>
</button>
<nz-modal [(nzVisible)]="isVisible" nzTitle="Edit Type"
          (nzOnCancel)="handleCancel()"
          (nzOnOk)="handleOk()"
          [nzWidth]="'50%'">

  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="50">

        <nz-form-item>
          <nz-form-label>Type</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="editedNameType" [placeholder]="data?.name" class="editType" name="Type">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>descriptionType</nz-form-label>
          <nz-form-control>
            <input nz-input [(ngModel)]="editedDescriptionType" [placeholder]="data?.shortDescription" class="editType"
                   name="descriptionType">
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>ImageOfType</nz-form-label>
            <img src="{{nameHost}}api/image/get/{{imgId}}" alt="">
            <div>
              <nz-form-control>

                <nz-upload nzAction="{{nameHost}}api/image/upload"
                           [nzListType]="'picture'"
                           [nzLimit]="1"
                           [nzFileType]="'image/png,image/jpeg'"
                           [nzAccept]="'image/png,image/jpeg'"
                           (nzChange)="handleChange($event)"
                           [nzRemove]="this.onRemoveFile">
                  <button nz-button>
                    <span nz-icon nzType="upload"></span>
                    Click to Change
                  </button>
                </nz-upload>

              </nz-form-control>
            </div>
        </nz-form-item>

      </div>
    </div>

  </ng-container>
</nz-modal>
