
    <button nz-button nzType="primary" (click)="open()" class="addButton">+</button>
    <nz-drawer
      [nzBodyStyle]="{ overflow: 'auto' }"
      [nzMaskClosable]="false"
      [nzWidth]="720"
      [nzVisible]="visible"
      nzTitle="Create"
      [nzFooter]="footerTpl"
      (nzOnClose)="close()"
      >
      <form nz-form *nzDrawerContent>
        <div nz-row [nzGutter]="8">
          <div nz-col nzSpan="24">

            <nz-form-item>
              <nz-form-label>ParentType</nz-form-label>
              <nz-form-control>
                <app-choice-parentTypeProduct (parentTypeSelected)="parentTypeSelected($event)"></app-choice-parentTypeProduct>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item *ngIf="parentType">
              <nz-form-label>ParentSubType</nz-form-label>
              <nz-form-control>
                  <app-choice-parentSubTypeProduct
                    [parentType]="parentType"
                    (parentSubTypeSelected)="parentSubTypeSelected($event)">
                  </app-choice-parentSubTypeProduct>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>NameProduct</nz-form-label>
              <nz-form-control>
                <input  nz-input  placeholder="please enter name product" [(ngModel)]="productName" name="productName"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>FullDescriptionProduct</nz-form-label>
              <nz-form-control>
                <input  nz-input  placeholder="please enter fullDescription product" [(ngModel)]="fullDescription" name="fullDescription"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>ShortSpecificationProduct</nz-form-label>
              <nz-form-control>
                <app-add-short></app-add-short>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>ContentProduct</nz-form-label>
              <nz-form-control>
                <input  nz-input  placeholder="please enter content product" [(ngModel)]="content" name="content"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>AdditionalDescriptionProduct</nz-form-label>
              <nz-form-control>
                <input  nz-input  placeholder="please enter additionalDescription product" [(ngModel)]="additionalDescription" name="additionalDescription"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>ImgProduct</nz-form-label>
              <nz-form-control>
                <input  nz-input  placeholder="please enter img product" [(ngModel)]="img" name="img"/>
              </nz-form-control>
            </nz-form-item>

          </div>
        </div>
      </form>

      <ng-template #footerTpl>
        <div style="float: right">
          <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
          <button nz-button nzType="primary" (click)="addProduct()">Submit</button>
        </div>
      </ng-template>

    </nz-drawer>
