<button nz-button nzType="primary" (click)="open()" class="addButton">+</button>
<nz-drawer
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="false"
  [nzWidth]="720"
  [nzVisible]="visible"
  nzTitle="Create"
  [nzFooter]="footerTpl"
  (nzOnClose)="close()"
>
  <form nz-form *nzDrawerContent>
    <div nz-row [nzGutter]="8">
      <div nz-col nzSpan="24">

        <nz-form-item>
          <nz-form-label>ParentType</nz-form-label>
          <nz-form-control>
            <app-choice-parentTypeProduct
              (parentTypeSelected)="parentTypeSelected($event)"></app-choice-parentTypeProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item *ngIf="parentType">
          <nz-form-label>ParentSubType</nz-form-label>
          <nz-form-control>
            <app-choice-parentSubTypeProduct
              [parentType]="parentType"
              (parentSubTypeSelected)="parentSubTypeSelected($event)">
            </app-choice-parentSubTypeProduct>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>NameProduct</nz-form-label>
          <nz-form-control>
            <input nz-input placeholder="please enter name product" [(ngModel)]="productName" name="productName"/>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>FullDescriptionProduct</nz-form-label>
          <div>
            <nz-form-control>
              <angular-editor [(ngModel)]="fullDescription" [config]="config" name="fullDescription"></angular-editor>
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>ShortSpecificationProduct</nz-form-label>
          <div>
            <nz-form-control>
              <app-add-short></app-add-short>
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>ContentProduct</nz-form-label>
          <div>
            <nz-form-control>
              <angular-editor [(ngModel)]="content" [config]="config" name="content"></angular-editor>
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>AdditionalDescriptionProduct</nz-form-label>
          <div>
            <nz-form-control>
              <angular-editor [(ngModel)]="additionalDescription" [config]="config"
                              name="additionalDescription"></angular-editor>
            </nz-form-control>
          </div>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>ImgProduct</nz-form-label>
          <div>
            <nz-form-control>
              <angular-editor [(ngModel)]="img" [config]="config" name="img"></angular-editor>
            </nz-form-control>
          </div>
        </nz-form-item>

      </div>
    </div>
  </form>

  <ng-template #footerTpl>
    <div style="float: right">
      <button nz-button style="margin-right: 8px;" (click)="close()">Cancel</button>
      <button nz-button nzType="primary" (click)="addProduct()">Submit</button>
    </div>
  </ng-template>

</nz-drawer>
